<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aviso Legal</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
    <script src="/js/script.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <h1>InfoSpain</h1>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="galería.html">Galería</a></li>
                <li><a href="presupuesto.html">Presupuestos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
        <div class="container"></div>
        <img src="../images/logo.png" alt="logo" id="logo-barra">
    </header>
    
    <main>
        <h3>Información General</h3>
        <p>El presente aviso legal regula el acceso y uso del sitio web InfoSpain ("nosotros", "nuestro" o "la empresa").
            InfoSpain está registrada en España, con sede en Calle de Alcalá, 42, 28014 Madrid, España.
            Para cualquier consulta, puede contactarnos en info@infospain.com o en el número de teléfono +34 910 123 456.
        </p>
        <h3>Propiedad del sitio Web</h3>
        <p>Este sitio web y todos sus contenidos, incluyendo textos, imágenes, logotipos, gráficos, videos, bases de datos
             y otros materiales, son propiedad de InfoSpain o de terceros que han autorizado su uso. Todos los derechos de
              propiedad intelectual sobre estos contenidos están protegidos por la legislación vigente en España sobre 
              derechos de autor y propiedad intelectual. Queda prohibida la reproducción, distribución, comunicación 
              pública o transformación no autorizada de dichos contenidos.</p>
        <h3>Condiciones de uso</h3>
        <p>Al acceder y utilizar este sitio web, el usuario acepta las siguientes condiciones de uso:</p>
        <ul>
            <li>El uso del sitio web debe ser exclusivamente con fines legales y no debe infringir los derechos de 
                terceros ni interferir con el funcionamiento del sitio.</li>
            <li>InfoSpain no garantiza que el acceso al sitio web será ininterrumpido ni que no contendrá errores. No 
                nos responsabilizamos de los daños o perjuicios derivados del uso de este sitio.</li>
            <li>InfoSpain se reserva el derecho de modificar, actualizar o eliminar cualquier parte de este sitio web,
                incluyendo servicios, precios o características, en cualquier momento y sin previo aviso.</li>
        </ul>
        <h3>Servicios web y desarrollo de proyectos digitales</h3>
        <p>InfoSpain ofrece servicios de diseño y desarrollo web, aplicaciones móviles, soluciones de comercio electrónico,
            sistemas de gestión, y consultoría en proyectos digitales. Todos los proyectos y servicios se prestan bajo las 
            condiciones específicas acordadas en los contratos firmados entre el cliente y la empresa. Para más información,
            puede consultar nuestra sección de productos o contactar con nosotros directamente.</p>
        <h3>Política de privacidad</h3>
        <p>El tratamiento de los datos personales de los usuarios se realiza conforme a nuestra Política de Privacidad. 
            Esta política detalla cómo recopilamos, utilizamos, almacenamos y protegemos los datos que nos proporcionan a 
            través de este sitio web.</p>
        <h3>Exoneración de responsabilidad</h3>
        <p>InfoSpain no se hace responsable de los daños o perjuicios derivados de:</p>
        <ul>
            <li>El uso no autorizado de los contenidos del sitio web por parte de los usuarios.</li>
            <li>Errores, omisiones, interrupciones o fallos técnicos que puedan ocurrir en el sitio.</li>
            <li>Enlaces a sitios web de terceros, los cuales son proporcionados como una comodidad para los usuarios, 
                pero no estamos afiliados ni controlamos el contenido de dichos sitios.</li>
        </ul>
        <h3>Jurisdicción y ley aplicable</h3>
        <p>Este sitio web y su uso se regirán por la legislación de España. Cualquier controversia que surja en relación 
            con el uso de este sitio web será sometida a los tribunales competentes de Madrid, renunciando expresamente a 
            cualquier otro fuero que pudiera corresponderle.</p>
        <h3>Modificaciones del aviso legal</h3>
        <p>Nos reservamos el derecho de modificar este aviso legal en cualquier momento, por lo que se recomienda su 
            revisión periódica. Las modificaciones entrarán en vigor en el momento de su publicación en el sitio web.</p>
        <h3>Contacto</h3>
        <p>Si tiene alguna pregunta o inquietud sobre este aviso legal o cualquier otro aspecto relacionado con el uso de 
            este sitio web, no dude en ponerse en contacto con nosotros a través de info@infospain.com o en el número de 
            teléfono +34 910 123 456.</p>
    </main>

    <footer>
        <p>Calle de Alcalá, 42, 28014 Madrid, España.</p>
        <div class="social-media">
            <a href="https://www.instagram.com" target="_blank">
                <img src="../images/ig.png" alt="Instagram" class="social-icon">
            </a>
            <a href="https://www.facebook.com" target="_blank">
                <img src="../images/fb.png" alt="Facebook" class="social-icon">
            </a>
            <a href="https://www.x.com" target="_blank">
                <img src="../images/x.png" alt="Twitter" class="social-icon">
            </a>
        </div>
        <p><a href="Aviso-legal.html">Aviso legal</a> | <a href="Politica-privacidad.html">Política de privacidad</a></p>
    </footer>
</body>
</html>