<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" type="image/png" href="../images/icon.png">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" 
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="anonymous">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" 
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin="anonymous"></script>
    <script src="../js/script.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <h1>InfoSpain</h1>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="galería.html">Galería</a></li>
                <li><a href="presupuesto.html">Presupuestos</a></li>
                <li><a href="contacto.html" class="active">Contacto</a></li>
            </ul>
        </nav>
        <img src="../images/logo.png" alt="logo" id="logo-barra">
    </header>

    <main>
        <section>
            <h2>Ubicación</h2>
            <div id="map"></div>
        </section>
    
        <section class="contact-info">
            <h3>Datos de Contacto</h3>
            <p><strong>Dirección:</strong> Calle de Alcalá, 42, 28014 Madrid, España</p>
            <p><strong>Teléfono:</strong> +34 910 123 456</p>
            <p><strong>Correo electrónico:</strong> <a href="mailto:info@infospain.com">info@infospain.com</a></p>
        </section>
    </main>

    <footer>
        <p>Calle de Alcalá, 42, 28014 Madrid, España.</p>
        <div class="social-media">
            <a href="https://www.instagram.com" target="_blank">
                <img src="../images/ig.png" alt="Instagram" class="social-icon">
            </a>
            <a href="https://www.facebook.com" target="_blank">
                <img src="../images/fb.png" alt="Facebook" class="social-icon">
            </a>
            <a href="https://www.x.com" target="_blank">
                <img src="../images/x.png" alt="Twitter" class="social-icon">
            </a>
        </div>
        <p><a href="Aviso-legal.html">Aviso legal</a> | <a href="Politica-privacidad.html">Política de privacidad</a></p>
    </footer>
</body>
</html>