<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería de Productos</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" type="image/png" href="../images/icon.png">
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" 
    crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/ekko-lightbox/dist/ekko-lightbox.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
    <script src="../js/script.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <h1>InfoSpain</h1>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="galería.html" class="active">Galería</a></li>
                <li><a href="presupuesto.html">Presupuestos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
       
        <div class="logo-container">
            <img src="../images/logo.png" alt="Logotipo de InfoSpain" id="logo-barra">
        </div>
    </header>
    <div class="gallery-container">
        <div class="gallery-item">
            <p class="caption">Diseño Web Personalizado. Diseñamos sitios web únicos para tu negocio.</p>
            <a href="../images/img_1.png" data-toggle="lightbox" data-gallery="example-gallery">
                <img src="../images/img_1.png" alt="Imagen 1">
            </a>
        </div>
        <div class="gallery-item">
            <p class="caption">Aplicaciones Móviles. Desarrollo de apps para iOS y Android.</p>
            <a href="../images/img_2.png" data-toggle="lightbox" data-gallery="example-gallery">
                <img src="../images/img_2.png" alt="Imagen 2">
            </a>
        </div>
        <div class="gallery-item">
            <p class="caption">Tienda Online. Crea tu tienda digital y vende a todo el mundo.</p>
            <a href="../images/img_3.png" data-toggle="lightbox" data-gallery="example-gallery">
                <img src="../images/img_3.png" alt="Imagen 3">
            </a>
        </div>
        <div class="gallery-item">
            <p class="caption">Optimización SEO. Mejora el posicionamiento de tu sitio en Google.</p>
            <a href="../images/img_4.png" data-toggle="lightbox" data-gallery="example-gallery">
                <img src="../images/img_4.png" alt="Imagen 4">
            </a>
        </div>
        <div class="gallery-item">
            <p class="caption">Plataformas de eLearning. Desarrollamos plataformas de educación en línea.</p>
            <a href="../images/img_5.png" data-toggle="lightbox" data-gallery="example-gallery">
                <img src="../images/img_5.png" alt="Imagen 5">
            </a>
        </div>
        <div class="gallery-item">
            <p class="caption">Páginas de Portafolio. Muestra tu portafolio de manera profesional.</p>
            <a href="../images/img_6.png" data-toggle="lightbox" data-gallery="example-gallery">
                <img src="../images/img_6.png" alt="Imagen 6">
            </a>
        </div>
    </div>

    <footer>
        <p>Calle de Alcalá, 42, 28014 Madrid, España.</p>
        <div class="social-media">
            <a href="https://www.instagram.com" target="_blank">
                <img src="../images/ig.png" alt="Enlace a Instagram" class="social-icon">
            </a>
            <a href="https://www.facebook.com" target="_blank">
                <img src="../images/fb.png" alt="Enlace a Facebook" class="social-icon">
            </a>
            <a href="https://www.x.com" target="_blank">
                <img src="../images/x.png" alt="Enlace a Twitter" class="social-icon">
            </a>
        </div>
        <p><a href="Aviso-legal.html">Aviso legal</a> | <a href="Politica-privacidad.html">Política de privacidad</a></p>
    </footer>
</body>
</html>